/* ============================================ *
 * Header
 * ============================================ */
.header-top{background:$bg-normal-2nd; color:$text_normal_1st}
.header{background:$bg-normal-1st; color:$text_normal_2nd; border-bottom:10px solid $bg-normal-3rd;
	li.level0 > a{color:$text_normal_2nd}
}