<?xml version="1.0"?>
<config>
  <modules>
    <Cdz_RevSlideshow>
      <version>0.1.0</version>
    </Cdz_RevSlideshow>
  </modules>
  <frontend>   
	<layout>
	  <updates>
		<revslideshow>
		  <file>revslideshow.xml</file>
		</revslideshow>
	  </updates>
	</layout>
  </frontend>
  <global>
    <helpers>
      <revslideshow>
        <class>Cdz_RevSlideshow_Helper</class>
      </revslideshow>
    </helpers>
	<blocks>
	  <revslideshow>
		<class>Cdz_RevSlideshow_Block</class>
	  </revslideshow>
	</blocks>
	<models>
	  <revslideshow>
		<class>Cdz_RevSlideshow_Model</class>
		<resourceModel>revslideshow_mysql4</resourceModel>
	  </revslideshow>
	  <revslideshow_mysql4>
		<class>Cdz_RevSlideshow_Model_Mysql4</class>
		<entities>		  
			  <revslideshow>
				<table>cdz_slideshow</table>
			  </revslideshow>
		</entities>
	  </revslideshow_mysql4>
	</models>
	<resources>
	  <revslideshow_setup>
		<setup>
		  <module>Cdz_RevSlideshow</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </revslideshow_setup>
	  <revslideshow_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </revslideshow_write>
	  <revslideshow_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </revslideshow_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <revslideshow>
	    <use>admin</use>
		<args>
		  <module>Cdz_RevSlideshow</module>
		  <frontName>admin_revslideshow</frontName>
		</args>
	  </revslideshow>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <revslideshow module="revslideshow">
		<title>RevSlideshow</title>
		<sort_order>100</sort_order>
		<children>
		  <revslideshow module="revslideshow">
		    <title>Manage Revslideshow</title>
			<sort_order>0</sort_order>
			<action>admin_revslideshow/adminhtml_revslideshow</action>
		  </revslideshow>
		</children>
	  </revslideshow>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<revslideshow translate="title" module="revslideshow">
			  <title>RevSlideshow</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <revslideshow translate="title">
			<title>Manage Revslideshow</title>
			<sort_order>0</sort_order>
		  </revslideshow>
			  </children>
			</revslideshow>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<revslideshow>
		  <file>revslideshow.xml</file>
		</revslideshow>
	  </updates>
	</layout>
  </adminhtml>
</config> 