/* ============================================ *
 * Button
 * ============================================ */
button.button{
	border: 1px solid #505050; overflow:visible; width:auto; margin:0 10px 10px 0;padding:6px 10px; cursor:pointer; float:left; @include transition; white-space: nowrap; color:#fff; font-size:11px; min-height:32px;
	span{
		display:inline-block; text-align:center; text-transform:uppercase;
	}
	/*button cart*/
	&.btn-cart{
		margin-right:0; background:#505050;
	}
}
/*quick view*/
.quick-view{
	float:left;
	.quick-view-link{
		float:left; position:relative; padding:6px 10px; border:1px solid #c20000; color:#fff; font-size:11px; background:#c20000; min-height:32px;
		&:before{
			@include icon-font('\f002', 14px);
		}
		span{ display:none;}
	}
}

/*add-to-links*/
.add-to-links{
	li{display:inline;}
}
.link-compare,
.link-wishlist{
	float:left; position:relative; padding:6px 10px; border:1px solid #c20000; color:#fff; font-size:0; background:#c20000; min-height:32px;
	&:before{
		@include icon-font('\f004', 14px);
	}
}
.link-compare{
	display:none;
	&:before{
		@include icon-font('\f0ec', 14px);
	}
}