<?xml version="1.0"?>
<config>
  <modules>
    <Cdz_Filterproducts>
      <version>0.1.0</version>
    </Cdz_Filterproducts>
  </modules>
  <global>
    <helpers>
      <filterproducts>
        <class>Cdz_Filterproducts_Helper</class>
      </filterproducts>
    </helpers>
	<blocks>
	  <filterproducts>
		<class>Cdz_Filterproducts_Block</class>
	  </filterproducts>
	</blocks>
	<models>
	  <filterproducts>
		<class>Cdz_Filterproducts_Model</class>
		<resourceModel>filterproducts_mysql4</resourceModel>
	  </filterproducts>
	</models>
	<resources>
	  <productattribute1440604711_setup>
		<setup>
		  <module>Cdz_Filterproducts</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productattribute1440604711_setup>
	  <productattribute1440604711_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productattribute1440604711_write>
	  <productattribute1440604711_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productattribute1440604711_read>
	</resources>
  </global>
  
	<frontend>
		<routers>
            <filterproducts>
                <use>standard</use>
                <args>
                    <module>Cdz_Filterproducts</module>
                    <frontName>filterproducts</frontName>
                </args>
            </filterproducts>
        </routers>
		<translate>
            <modules>
                <Cdz_Filterproducts>
                    <files>
                        <default>Cdz_Filterproducts.csv</default>
                    </files>
                </Cdz_Filterproducts>
            </modules>
        </translate>
        <layout>
            <updates>
                <filterproducts>
                    <file>filterproducts.xml</file>
                </filterproducts>
            </updates>
        </layout>
	</frontend>
</config> 