.cin_wapper-product01{
	overflow:hidden;
	.cin_productfilter{
		.products-grid{ margin:0 (-$spa_small);
				li.item{
					width:calc(100% / 5 - 20px);
					margin:0 10px;
					border:none;
					display:inline-table; vertical-align:top;
				}
			}
	}
}
