/* ============================================ *
 * Theme_Var
 * ============================================ */
//Font
$f_default:500 13px/1.55 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h1:700 24px/1.35 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h2:500 20px/1.35 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h3:500 18px/1.35 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h4:500 16px/1.35 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h5:500 14px/1.35 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;
$f_h6:500 12px/1.55 Lato,'Helvetica Neue', Verdana, Arial, sans-serif;



$b-line-height: 1.55;
$b-margin-bottom: 1.55em;


// Border Radius

$default-border-radius: 5px;

// Spacing

$spa_default: 20px;
$spa_small: 10px;
$spa_large: 30px;


// Background color
$bg-default:#ffffff;
$bg-normal-1st:#222222;
$bg-normal-2nd:#393737;
$bg-normal-3rd:#c20000;
$bg-normal-4th:#505050;


// Text Color
$text_default:#34495e;
$text_normal_1st:#8b8b8b;
$text_normal_2nd:#ffffff;
$text_normal_3rd:#777777;
$text_normal_4th:#c97178;

//Line Color
$line_default:#000;
$line_normal:#777777;



